<md-toolbar>Failed Interface Property</md-toolbar>
<p>
    This example demonstrates that the TypeScript <strong>Data</strong> class does not retain the
    <strong>filter</strong> property it defines as obligated by the <strong>IProperty</strong> interface,
    and therefore, <strong>filter</strong> cannot be accessed when <strong>Data</strong> is specified for a
    type <strong>TItem</strong> which extends <strong>IProperty</strong> inside of a generic data source.
</p>
<div class="table-container mat-elevation-z8">
    <div class="filter-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Data">
        </md-input-container>
    </div>
    <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="id">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="displayName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.displayName}} </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns"></md-row>
    </md-table>
</div>