<md-toolbar>Plain JSON Data</md-toolbar>
<p>
    This example demonstrates that, regardless of the fact that <code class="snippet">data.model.ts</code> 
    is declared as a class with a <code class="snippet">filter</code> property, because each JSON object isn't directly 
    instantiated as <code class="snippet">new Data()</code>, they are treated as plain JavaScript Objects at runtime without 
    access to the <code class="snippet">filter</code> property. The data for the table will never render because the data source
    used to populate it throws an <code class="snippet">undefined</code> error when attempting to access <code class="snippet">filter</code>.
</p>
<div class="table-container mat-elevation-z8">
    <div class="filter-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Data">
        </md-input-container>
    </div>
    <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="id">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="displayName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.displayName}} </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns"></md-row>
    </md-table>
</div>
<md-toolbar color="primary">Code</md-toolbar>
<md-tab-group>
    <md-tab label="DataModel.cs">
        <prism language="csharp">
public class DataModel
&#123;
    public int id &#123; get; set; &#125;
    public string displayName &#123; get; set; &#125;
&#125;
        </prism>
    </md-tab>
    <md-tab label="AppExtensions.cs">
        <prism language="csharp">
public static Task&lt;List&lt;DataModel&gt;&gt; GetData()
&#123;
    return Task.Run(() =&gt;
    &#123;
        return new List&lt;DataModel&gt;()
        &#123;
            new DataModel &#123; id = 1, displayName = "TypeScript" &#125;,
            new DataModel &#123; id = 2, displayName = "Angular" &#125;,
            new DataModel &#123; id = 3, displayName = "ASP.NET Core" &#125;,
            new DataModel &#123; id = 4, displayName = "Material" &#125;,
            new DataModel &#123; id = 5, displayName = "Webpack" &#125;
        &#125;;
    &#125;);
&#125;
        </prism>
    </md-tab>
    <md-tab label="AppController.cs">
        <prism language="csharp">
[HttpGet("[action]")]
public async Task&lt;IEnumerable&lt;DataModel&gt;&gt; GetData()
&#123;
    return await AppExtensions.GetData();
&#125;
        </prism>
    </md-tab>
    <md-tab label="data.service.ts">
        <prism language="typescript">
getData() &#123;
    this.coreApi.get&lt;Data[]&gt;('/api/app/getData').subscribe(this.data);
&#125;
        </prism>
    </md-tab>
    <md-tab label="plain-json.component.ts">
        <prism language="typescript">
constructor(private data: DataService, private toaster: ToasterService) &#123;
    data.getData();
&#125;
        </prism>
    </md-tab>
</md-tab-group>