<md-toolbar>Forced Interface Property</md-toolbar>
<p>
    This example demonstrates that adding a readonly <strong>filter</strong> property that returns the value of
    <strong>displayName</strong> to the C# API class enables the use of <strong>filter</strong> on the client-side
    <strong>Data</strong> TypeScript class.
</p>
<div class="table-container mat-elevation-z8">
    <div class="filter-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Data">
        </md-input-container>
    </div>
    <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="id">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="displayName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.displayName}} </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns"></md-row>
    </md-table>
</div>