<md-toolbar>Observable Mapped Class Instantiation</md-toolbar>
<p>
    This example demonstrates that if you receive the same data as the <a class="link" href="/plain-json">Plain JSON</a> demonstration, 
    but manually instantiate each object to an instance of <code class="snippet">new Data()</code> inside of an 
    <code class="snippet">Observable.map()</code> function, the resulting objects will have access to the 
    <code class="snippet">filter</code> property without the need to transform the server-side API model.
</p>
<div class="table-container mat-elevation-z8">
    <div class="filter-header">
        <md-input-container floatPlaceholder="never">
            <input mdInput #filter placeholder="Filter Data">
        </md-input-container>
    </div>
    <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="id">
            <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="displayName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.displayName}} </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns"></md-row>
    </md-table>
</div>
<md-toolbar color="primary">Code</md-toolbar>
<md-tab-group>
    <md-tab label="data.service.ts">
        <prism language="typescript">
getInstantiatedData() &#123;
    this.http.get('/api/app/getData').map(res => &#123;
        return res.json().map(d => &#123;
            return Object.assign(new Data(), d)
        &#125;);
    &#125;).catch(this.coreApi.handleError)
    .subscribe(this.data);
&#125;
        </prism>
    </md-tab>
    <md-tab label="mapped-client.component.ts">
        <prism language="typescript">
constructor(private data: DataService, private toaster: ToasterService) &#123;
    data.getInstantiatedData();
&#125;
        </prism>
    </md-tab>
</md-tab-group>